.background {
    background-image: url("../assets/BackGround.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

.Container {
    display: flex;
    flex-direction: column;
    gap: 1.75rem;
    padding-top: 6.18rem;
    align-items: center;
}

.Container h1 {
    padding-left: 20.31rem;
    padding-right: 20.31rem;
    color: var(--FontColor);
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 2.75rem;
    font-family: 'Raleway';
    text-wrap: nowrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.Container span {
    font-family: 'Roboto';
    font-size: 1.125rem;
    color: var(--FontColor2);
}

.Container a {
    display: flex;
    padding: 1rem 1.5rem;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1rem;
    font-family: 'Raleway';
    font-weight: '600';
    background: var(--Amarelo);
    border-radius: 0.62rem;
    text-decoration: none;
    height: 50px;

    transition: 0.5seg;
}

.Container a:hover {
    scale: 0.95;
}

.cryptoContainer {
    margin-top: 7.5rem;
    margin-left: 4.875rem;
}

.cryptoContainer h2 {
    color: 'black';
    font-size: 24px;
    font-family: 'Raleway';
    font-weight: 600;
}

.cryptoTrend {
    display: flex;
    border: solid 1px black;
    margin-top: 1.5rem;
}