.Container { 
    border: 1px solid #EAEAEA;
    border-radius: 18px;
    gap: 1.06rem;
    padding: 18px 20px 18px 19px;
}

.Container h1 {
    color: #11011E;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.CoinsHeader {
    display: flex;
    gap: 1.06rem;
    font-family: Raleway;
    align-items: center;
    margin-bottom: 2rem;
}

.CoinsHeader img {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.CoinsHeader h1 {
    color: #11011E;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.CoinsHeader h4 {
    border-radius: 4px;
    background: rgba(198, 198, 198, 0.40);
    padding: 4px 6px;
    justify-content: center;
    align-items: center;
    gap: 10px;
}